@model IEnumerable<Book>

<html>
<div class="row">
    <div class="col-md-9 offset-md-1">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h4>Cover</h4>
                    </th>
                    <th>
                        <h4>Name</h4>
                    </th>
                    <th>
                        <h4>Author</h4>
                    </th>
                    <th>
                        <h4>Details</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>
                            <img src="@book.ImageThumbnailUrl" alt="@book.BookName" />
                        </td>
                        <td>
                            <h5>@book.BookName</h5>
                        </td>
                        <td>
                            <h5>@book.Author</h5>
                        </td>
                        <td>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookID" class="btn btn-sm btn-success">
                                <i class="fa-solid fa-info"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</html>