@model Customer

<div class="figure-caption">
    <h3>@Model.CustomerID</h3>
    <h3>@Model.FullName</h3>
    <h3>@Model.Adress</h3>
    <h3>@Model.City</h3>
    <h3>@Model.ZipCode</h3>
    <h3>@Model.PhoneNumber</h3>
    <h3>@Model.Email</h3>
</div>