@model IEnumerable<Customer>

<html>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h4>ID</h4>
                    </th>
                    <th>
                        <h4>Full Name</h4>
                    </th>
                    <th>
                        <h4>Details</h4>
                    </th>
                    <th>
                        <a asp-controller="Customer" asp-action="CreateCustomer" class="btn btn-sm btn-success"><i class="fa-solid fa-user-plus"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                <tr>
                    <td>
                        <h5>@customer.CustomerID</h5>
                    </td>
                    <td>
                        <h5>@customer.FullName</h5>
                    </td>
                    <td>
                        <a asp-controller="Customer" asp-action="CustomerInfo" asp-route-id="@customer.CustomerID" class="btn btn-sm btn-info">
                            Info
                        </a>
                        <a asp-controller="CustomerBook" asp-action="CustomerBookLogs" asp-route-id="@customer.CustomerID">
                            <i class="fa-solid fa-book"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Customer" asp-action="UpdateCustomer" asp-route-id="@customer.CustomerID" class="btn btn-sm btn-warning">
                        <i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-controller="Customer" asp-action="DeleteCustomer" asp-route-id="@customer.CustomerID">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?')">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </a>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</html>


